<script
    src="https://www.paypal.com/sdk/js?client-id=Afz1CFSihl6i2bWVQTJJVDWam5idoeJxWsKpik78jm-lbk4abwTfLRVYrYSu7S08X4yYMKw3wLRvvq-U&currency=MXN"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script>

<div id="paypal-button-container"></div>

  <script>
    paypal.Buttons({
      createOrder: function(data, actions) {
        // This function sets up the details of the transaction, including the amount and line item details.
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: getProductsTotalPrice()
            }
          }]
        });
      },
      onApprove: function(data, actions) {
        // This function captures the funds from the transaction.
        return actions.order.capture().then(function(details) {
          // This function shows a transaction success message to your buyer.
          location.replace('/finalizarventa');
        });
      }
    }).render('#paypal-button-container');
    //This function displays Smart Payment Buttons on your web page.
  </script>