<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <form id="form1" >
         <div>
                         
             <img height="207px" src="/images/logo-removebg-preview.png" width="333px" />
            
             <br />
             ¿Cómo hacer un viraje?<br />
             <br />
             <br />
             <p>1) Es el momento en el que el nadador se acerca a la pared. En este instante es muy importante conocer la distancia que queda hasta la pared. Por este motivo es conveniente tomar algún punto de referencia para calcular nuestra posición con respecto a la pared. Lo más habitual es usar la línea de fondo con forma de &quot;T&quot;, pero se pueden usar otros, como los colores de la corchera. A partir de que el nadador pase por el punto de referencia elegido sólo tiene que contar el número de brazadas predeterminado. </p>
             <br />
             <br />
             <p>Observa en la imgn cómo el nadador se acerca a la pared y mientras realiza la última brazada mira para calcular la distancia e inmediatamente lleva la barbilla al pecho, lo que prepara al cuerpo para iniciar el giro. Esta acción es muy importante para que el viraje sea efectivo.</p>
             <br />
             <br />
             <p>El objetivo es no perder el ritmo en ningún momento. Para ello el nadador aumenta un poco la velocidad en las dos últimas brazadas.</p>
             <br />
             <br />
             <img src="/images/Viraje1.jpg" />
             <br />
             <br />
             <p>2) Inicio del giro: En la última brazada realizada el nadador impulsa el pecho hacia abajo, lo que le llevará directamente a la agrupación del cuerpo para realizar el giro.</p>
             <br />
             <br />
             <p>Con los brazos parados, estirados y pegados al cuerpo, el nadador realiza una fuerte patada de mariposa mientras sigue con la barbilla totalmente pegada al pecho, lo que hace que la cabeza se hunda y las caderas se eleven. Este es el momento del inicio del giro.</p>
         </div>
             <p>Los brazos se flexionan, junto con el tronco, para preparar las manos y antebrazos que ayudarán a realizar el giro.</p>
             <img src="/images/Viraje2.jpg" />
             <p>3) Giro: La cabeza sigue bajando mientras el tronco y las caderas se dirigen hacia delante. Las rodillas se flexionan, llevándolas hacia el pecho, agrupando todo el cuerpo, casi en posición fetal, para que el giro sea lo más rápido posible.</p>
             <p>Los brazos ayudan a mantener la estabilidad del giro y de apoyo moviéndolos en sentido contrario al del giro del cuerpo.</p>
             <p>Si no se flexionan correctamente las rodillas o la cadera perderás velocidad y estabilización, con lo que no se podrá obtener una correcta posición de los pies en la pared.</p>
             <img src="/images/Viraje3.jpg" />
             <p>4) Toque o apoyo: Es el momento de colocar los pies en la pared. El cuerpo queda en posición supina, con las rodillas y la cadera flexionadas, aproximadamente 90º, para poder tomar un fuerte impulso desde la pared.</p>
             <p>Los brazos se colocan sobre la cabeza para poder adoptar la posición hidrodinámica lo antes posible.</p>
             <img src="/images/Viraje4.jpg" />
             <p>5) Empuje y deslizamiento: Momento en el que se alcanza una mayor velocidad debido al impulso o empuje, incluso mayor que la del nado, motivo por el cual hay que aprovechar este deslizamiento ofreciendo la menor resistencia posible al agua. Para que esto suceda, el nadador adopta una posición lo más alineada posible en posición hidrodinámica (cuerpo estirado, una mano encima de la otra, la cabeza entre los brazos y las piernas y pies juntos y estirados).</p>
             <p>Con la ayuda de las manos el cuerpo vuelve a la posición normal de prono (boca abajo) hasta que el nadador siente que comienza a perder velocidad en el deslizamiento, momento en el que vuelve a batir las piernas bajo el agua.</p>
             <p>Una vez en la superficie realiza la primera braza de crol sin sacar la cabeza con lo que se evita frenar, lo que permite mantener la velocidad del empuje durante más tiempo.</p>
             <img src="/images/Viraje5.jpg" />
     </form>
    </body>
</html>