<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <form class="container" action="/login" method="POST">
            <div class="row">
               <div class="col-12">
                  <h5>Usuario</h5>
                  <input type="text" name="username"/>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <h5>Contraseña</h5>
                  <input type="password" name="password"/>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <input type="submit" value="Login"/>
               </div>
            </div>
            
        </form>
    </body>
</html>