<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Crear Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <%- include('./partials/menu-usuarios'); %>
        <form class="container" action="./crear" method="POST">
            <div class="row">
               <div class="col-12">
                  <h5>Nombre</h5>
                  <input type="text" name="nombre"/>
               </div>
            </div>
            <div class="row">
                <div class="col-12">
                   <h5>Apellido Paterno</h5>
                   <input type="text" name="apellidoPaterno"/>
                </div>
             </div>
             <div class="row">
                <div class="col-12">
                   <h5>Apellido Materno</h5>
                   <input type="text" name="apellidoMaterno"/>
                </div>
             </div>
             <div class="row">
                <div class="col-12">
                   <h5>Email</h5>
                   <input type="text" name="email"/>
                </div>
             </div>
            <div class="row">
               <div class="col-12">
                  <h5>Contraseña</h5>
                  <input type="password" name="password"/>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <input type="submit" value="Crear Usuario"/>
               </div>
            </div>
            
        </form>
    </body>
</html>