<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Administrar Empleados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <h1>Administrar empleados</h1>
        <h2>Hola <%= administrador.NOMBRE + ' ' + administrador.APELLIDO_P%></h2>
    </body>
</html>