<!DOCTYPE html>
<html>
    <head>
        <title>Aqua azul - Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <div class="container">
            <div class="row justify-content-center d-flex">
                <h2>Hola <%= administrador.NOMBRE + ' ' + administrador.APELLIDO_P%></h2>
            </div>
            <div class="row justify-content-center d-flex">
                <div class="col-lg-9 col-md-9 col-12 order-md-1 order-2 justify-content-center d-flex">
                    <img class="col-9" src="/images/monito-trabajando.gif">
                </div>
            </div>
        </div>
    </body>
</html>